<link rel="stylesheet" href="${ctxPath}/css/man.css">
<script src="${ctxPath}/js/import/import.js" />

<div id="subject-man" class="container-fluid man-container">
    <!-- 表头按钮 -->
    <div class="row tb-head-btn-group">
        <div class="input-pane col-3">
            <input type="text" name="title" required lay-verify="required" placeholder="按年级号/名搜索" autocomplete="off"
                   class="layui-input" id="filterInput" v-model="pageParam.filter.keyword">
        </div>
        <div class="row col-3">
            <div class="col" style="padding-left: 8px; padding-right: 4px;">
                <form class="layui-form layui-inline">
                    <select name="gradeType" lay-search="" id="gradeTypeSelect" lay-filter="gradeTypeSelect">
                        <option value="">初中/高中</option>
                        <option v-for="type in gradeTypeArray" :value="type.typeCode">{{type.typeDescription}}</option>
                    </select>
                </form>
            </div>
            <div class="col" style="padding-left: 4px; padding-right: 8px">
                <form class="layui-form layui-inline">
                    <select name="subjectTypeSelect" lay-search="" id="subjectTypeSelect" lay-filter="subjectTypeSelect">
                        <option value="">学科类型</option>
                        <option v-for="type in subjectTypeArray" :value="type.typeCode">{{type.typeDescription}}</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col-1">
            <button class="layui-btn" @click="selectIt">搜索</button>
        </div>

        <div class="col">
            <div class=" row" style="float:right;">
                <button class="layui-btn col" @click="excelImport()">导入</button>
                <button class="layui-btn col" @click="openEditModal('add', null)">添加</button>
                <button class="layui-btn layui-btn-danger col" @click="deleteBatch()">删除</button>
            </div>
        </div>
    </div>

    <!-- 表格 -->
    <div id="tablePane" class="row" style="width: 100%;">
        <div class="col-xl-12" style="padding: 0px;">
            <table class="layui-table" id="dataTable">
                <colgroup>
                    <col width="50">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col>
                    <col width="150">
                </colgroup>
                <thead class="myTbhead">
                <tr>
                    <th class="myTbhead" id="headCheck">
                        <input type="checkbox" name="" lay-skin="primary" id="checkAll" style="text-align: center;" class="layui-form-checkbox"
                               v-model="checkBox.isCheckAll" @change="checkAll()"></th>
                    <th class="myTbhead">学科编号
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('subNo', 'asc')"><i class="bi bi-arrow-up-short" style="height: 100%;"></i></button>
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('subNo', 'desc')"><i class="bi bi-arrow-down-short" style="height: 100%;"></i></button></th>
                    <th class="myTbhead">学科名称
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('subjectName', 'asc')"><i class="bi bi-arrow-up-short" style="height: 100%;"></i></button>
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('subjectName', 'desc')"><i class="bi bi-arrow-down-short" style="height: 100%;"></i></button></th>
                    <th class="myTbhead">学科类型
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('subjectType', 'asc')"><i class="bi bi-arrow-up-short" style="height: 100%;"></i></button>
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('subjectType', 'desc')"><i class="bi bi-arrow-down-short" style="height: 100%;"></i></button></th>
                    <th class="myTbhead">开设年级数
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('gradeCount', 'asc')"><i class="bi bi-arrow-up-short" style="height: 100%;"></i></button>
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('gradeCount', 'desc')"><i class="bi bi-arrow-down-short" style="height: 100%;"></i></button></th>
                    <th class="myTbhead">开设课程数
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('courseCount', 'asc')"><i class="bi bi-arrow-up-short" style="height: 100%;"></i></button>
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('courseCount', 'desc')"><i class="bi bi-arrow-down-short" style="height: 100%;"></i></button></th>
                    <th class="myTbhead">学科总学习人数
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('studentCount', 'asc')"><i class="bi bi-arrow-up-short" style="height: 100%;"></i></button>
                        <button class="btn btn-dark btn-sm" style="height: 40%;" @click="orderIt('studentCount', 'desc')"><i class="bi bi-arrow-down-short" style="height: 100%;"></i></button></th>
                    <th class="myTbhead">备注</th>
                    <th class="myTbhead">编辑</th>
                </tr>
                </thead>
                <tbody v-for="subject in baseInfo.infoArray">
                <tr>
                    <td><input type="checkbox" name="" lay-skin="primary" class="layui-form-checkbox"
                               v-model="checkBox.checkedValues" :value="subject.id"></td>
                    <td><a href="#" @click="openBTModal(subject)">{{subject.subNo}}</a></td>
                    <td>{{subject.subjectName}}</td>
                    <td>{{subject.subjectType.typeDescription}}</td>
                    <td>{{subject.gradeCount}}</td>
                    <td>{{subject.courseCount}}</td>
                    <td>{{subject.studentCount}}</td>
                    <td v-if="subject.remark!=null&&subject.remark!=''">{{subject.remark}}</td>
                    <td v-if="subject.remark==null||subject.remark==''">暂无</td>
                    <td>
                        <button class="layui-btn layui-btn-sm" style="float: left;margin-left: 5%;"
                                @click="openEditModal('update', subject)">修改</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" style="float: right;margin-right: 5%;"
                                @click="deleteConfirm(subject)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="navPane" class="row" style="width: 100%;">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation" id="nav" class="d-flex align-items-center">
                <ul class="pagination d-flex align-items-center" style="margin-bottom: 0px;">
                    <li class="page-item">
                        <a class="page-link" href="javascript://" @click="goToPage(1)">首页</a>
                    </li>
                    <li class="page-item" v-bind:class="{ 'disabled' : pageParam.currentPage==1 }">
                        <a class="page-link" href="#" :aria-disabled="pageParam.currentPage==1"
                           @click="goToPage(--pageParam.currentPage)">上一页</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-disabled="true"
                           v-show="baseInfo.pageBeforeOmit">...</a>
                    </li>

                    <li class="page-item" v-for="i in pageParam.pageCount" v-bind:class="{'active' : i==pageParam.currentPage}"
                        v-show="pageParam.currentPage-i<3&&i-pageParam.currentPage<3" ><a class="page-link" href="#" @click="goToPage(i)">{{i}} <span class="sr-only" v-if="i==pageParam.currentPage">(current)</span></a></li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-disabled="true"
                           v-show="baseInfo.pageAfterOmit">...</a>
                    </li>
                    <li class="page-item" v-bind:class="{ 'disabled' : pageParam.currentPage==pageParam.pageCount }">
                        <a class="page-link" href="#" :aria-disabled="pageParam.currentPage==pageParam.pageCount"
                           @click="goToPage(++pageParam.currentPage)">下一页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript://" @click="goToPage(pageParam.pageCount)">尾页</a>
                    </li>
                </ul>
            </nav>
            <!-- 每页大小 -->
            <div style="padding-left: 8px;">
                <form class="form-inline">
                    <label class="my-1 mr-2" for="pageSizeBox">每页大小</label>
                    <select class="custom-select my-1 mr-sm-2" id="pageSizeBox" @change="setPageSize()">
                        <option v-for="pageSize in pageParam.pageSizeList" :value="pageSize">{{pageSize}}</option>
                    </select>

                    <a href="javascript://" class="reload" style="font-size: 26px; color: #3c3c3c;" @click="goToPage(1)">
                        <i class="bi bi-arrow-repeat d-flex align-items-center" ></i>
                    </a>
                    <p class="text-monospace d-flex align-items-center" style="margin-bottom: 0px;">共 {{pageParam.totalCount}} 条数据</p>
                </form>

            </div>
        </div>
    </div>

    <!-- excel导入 -->
    <div v-show="false">
        <form id="import_form"  enctype="multipart/form-data" method="post" action="" v-show="false">
            <div style="margin-top: 5px" v-show="false">
                选择Excel文件：<input type="file" id="excel" name="excel" @change="doExcelImport"
                                 accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /></div>
        </form>

        <!-- Button trigger modal -->
        <button type="button" id="modalTrigger" class="btn btn-primary" data-toggle="modal" data-target="#common-modal" hidden>
            Launch demo modal
        </button>
    </div>

</div>

<script>
    var subjectVue = new Vue({
        el : "#subject-man",
        data : {
            baseInfo : {
                infoArray : null,
                select : "",
                pageBeforeOmit : false,
                pageAfterOmit: true,
            },
            editModal : {
                show : false,
                actionType : "add",
            },
            checkBox : {
                isCheckAll : false,
                checkedValues : [],
            },
            pageParam : {
                currentPage : 1,
                pageSize : 5,
                pageSizeList : [5, 10, 20, 50],
                pageCount : 0,
                totalCount : 0,
                pageBuffer : [],
                pageBeforeOmit : false,
                pageAffterOmit : true,
                orderBy : "",
                orderWay : "asc",
                filter : {
                    gradeType : "",
                    subjectType : "",
                    keyword : "",
                },
                ext : [],
                isFirstTime : true,
            },
            gradeTypeArray : [],
            subjectTypeArray : [],

        },
        methods : {
            orderIt : function(orderBy, orderWay){
                this.pageParam.orderBy = orderBy;
                this.pageParam.orderWay = orderWay;
                this.listForm();
            },
            selectIt : function(){
                var keyword = this.pageParam.filter.keyword;
                var gradeType = this.pageParam.filter.gradeType;
                var subjectType = this.pageParam.filter.subjectType;

                if (keyword !=undefined && keyword != null && keyword != ""){
                    this.pageParam.ext[0] = keyword;
                    //this.pageParam.ext.push("test");
                }

                this.listForm();
            },
            openBTModal : function(subject){
                var url = "${ctxPath}/happy-study/subjectMan/showSubjectMsg"
                var loading = vue.loadingFont;
                $("#common-modal-head").text(subject.subjectName);
                $("#common-modal-body").empty();
                $("#modalTrigger").trigger("click");
                $("#common-modal-body").html(loading);
                debugger;
                $("#common-modal-body").load(url, {subject}, function () {
                    modalVue.subject = subject;
                });
            },
            doExcelImport : function(){
                excelImport($("#import_form"), $("#excel"),
                    "post",
                    "${ctxPath}/happy-study/subjectMan/import",
                    layer);
            },
            excelImport : function(){
                $("#excel").trigger("click");
            },
            setPageSize : function () {
                if (this.pageParam.pageSize == $("#pageSizeBox").val()){
                    return ;
                }
                this.pageParam.pageSize = $("#pageSizeBox").val();
                this.pageParam.currentPage = 1;

                this.listForm();
            },
            goToPage : function(page){
                if (page == 1){

                }
                if (page==this.pageParam.pageCount){
                    $("")
                }
                if (page < 1){
                    alert("第一页了");
                    return ;
                }
                if (page > this.pageParam.pageCount){
                    alert("已经到底了");
                    return ;
                }
                this.pageParam.currentPage = page;
                this.listForm();
            },
            deleteBatch : function(){
                checkedValues = this.checkBox.checkedValues;
                if (checkedValues == undefined || checkedValues == null || checkedValues.length == 0){
                    layer.msg("还未勾选删除的班级", {
                        icon : 3
                    });
                    return ;
                }

                var ids = "";
                for (var i = 0; i < checkedValues.length; i++){
                    ids += checkedValues[i]+"-";
                }
                var msg = "确认要删除的班级 "+checkedValues.length+" 个 吗？"
                layer.confirm(msg, {
                    btn:['确定', '取消']
                }, function (index) {
                    layer.close(index);
                    subjectVue.deleteSome(ids);
                }, function () {
                    alert("2");
                })
            },
            checkAll : function(){
                var array = this.baseInfo.infoArray;
                //debugger
                if (array != null){
                    if (this.checkBox.isCheckAll){
                        this.checkBox.checkedValues = [];
                        for (var i = 0; i < array.length; i++){
                            this.checkBox.checkedValues.push(array[i].id);
                        }
                    }else {
                        this.checkBox.checkedValues = [];
                    }
                }
            },
            deleteSome : function(subjectIdList){
                $.ajax({
                    url : "${ctxPath}/happy-study/subjectMan/doEdit/baseinfo/delete",
                    type : "delete",
                    data : {subjectIds : subjectIdList},
                    async : false,
                    success : (response)=>{
                        if (response.state == 1){
                            subjectVue.listForm();
                            layer.msg(response.description, {
                                end : function () {
                                },
                                icon : 1
                            });
                        }else if (response.state == 2) {
                            subjectVue.listForm();
                            layer.msg(response.description, {
                                icon : 3
                            });
                        }else {
                            layer.msg(response.description, {
                                icon : 7
                            })
                        }
                    },
                    error : ()=>{
                        layer.msg("请求错误", {
                            icon : 2
                        });
                    }
                })
            },
            deleteConfirm : function(subject){
                var msg = "确认要删除科目\r\n 编号:"+subject.subNo+"\r\n 名称:"+subject.subjectName+"\r\n 吗？"
                layer.confirm(msg, {
                    btn:['确定', '取消']
                }, function (index) {
                    layer.close(index);
                    subjectVue.deleteSome(subject.id);
                }, function () {
                    //alert("2");
                })
            },
            openEditModal : function(actionType, subject){
                //debugger
                var modalTitle = "";
                if (actionType == 'add'){
                    this.editModal.actionType = actionType;
                    modalTitle = "添加科目";
                }else if (actionType == 'update'){
                    this.editModal.actionType = actionType
                    modalTitle = "更新科目基本信息"
                }else{
                    return ;
                }
                layer.open({
                    type: 2,
                    title: modalTitle,
                    //content: $('#stuEditModal'),
                    content: ["${ctxPath}/happy-study/subjectMan/editform/baseinfo/"+actionType, "no"], //获取html 不出现滚动条
                    area: ['700px', '500px'],
                    success: function (layero, index) {
                        //弹出成功后的回调
                        subjectVue.editModal.show = true;

                        if (subject!=null){
                            //subject.gradeType = subject.gradeType.typeCode;
                            //subject.subjectType = subject.subjectType.typeCode;
                        }
                        //向子模块传递，子模块的vue写在这里面的，如果这类不掉用，子模块的vue无法加载
                        //！！！！！！注意！！！！！！
                        var iframe = window['layui-layer-iframe' + index];
                        //debugger
                        iframe.child(subject);
                        //debugger
                    },
                    end : function () {
                        //弹框销毁后刷新表格
                        subjectVue.listForm();
                    }
                })
            },
            refreshCheckBox : function(){
                this.checkBox.isCheckAll=false;
                this.checkBox.checkedValues=[];
                this.baseInfo.infoArray = null;
            },
            listForm : function () {
                this.refreshCheckBox();

                var pageParam = this.pageParam;

                var paginationParam = {
                    page : pageParam.currentPage,
                    pageSize : pageParam.pageSize,
                    orderBy : pageParam.orderBy,
                    orderWay : pageParam.orderWay,
                    totalCount : 0
                }
                var filter = {
                    gradeType : pageParam.filter.gradeType,
                    subjectType : pageParam.filter.subjectType
                }

                var ext = pageParam.ext;

                $.ajax({
                    type : "get",
                    url : "${ctxPath}/happy-study/subjectMan/list",
                    async: false,
                    data : {paginationParam : paginationParam,
                        filter : filter,
                        ext : ext},
                    success : (response)=>{
                        var state = response.state;
                        if (state==0){
                            console.log(response.description);
                            return 0;
                        }
                        this.baseInfo.infoArray = response.resData[0].resList;
                        this.pageParam.totalCount = response.resData[0].paginationParam.totalCount;
                        this.pageParam.pageCount = response.resData[0].paginationParam.pageCount;
                        console.log(this.baseInfo.infoArray);
                        this.baseInfo.pageAfterOmit = this.pageParam.pageCount - this.pageParam.currentPage > 3 ? true : false;
                        this.baseInfo.pageBeforeOmit = this.pageParam.currentPage - 1 > 3 ? true : false;

                        return this.pageParam.totalCount;
                    }
                })
                //debugger
            },
            listGradeType : function () {
                $.ajax({
                    url : "${ctxPath}/happy-study/studentMan/list/gradeType",
                    type : "get",
                    data : {},
                    async : false,
                    success : response=>{
                        var state = response.state;
                        if (state==0){
                            console.log(response.description);
                            return ;
                        }

                        this.gradeTypeArray = response.resData;
                        //debugger
                    }
                })
                /*
                $.get("${ctxPath}/happy-study/studentMan/list/gradeType", {}, response=>{
                    var state = response.state;
                    if (state==0){
                        console.log(response.description);
                        return ;
                    }

                    this.gradeTypeArray = response.resData;
                    debugger
                })
                 */
            },
            listSubjectType : function(){
                $.ajax({
                    url : "${ctxPath}/happy-study/subjectMan/list/subjectType",
                    type : "get",
                    data : {},
                    async : false,
                    success : response=>{
                        var state = response.state;
                        if (state==0){
                            console.log(response.description);
                            return ;
                        }

                        this.subjectTypeArray = response.resData;
                        //debugger
                    }
                })
                /*
                $.get("${ctxPath}/happy-study/subjectMan/list/subjectType", {}, response=>{
                    var state = response.state;
                    if (state==0){
                        console.log(response.description);
                        return ;
                    }

                    this.subjectTypeArray = response.resData;
                    debugger
                })
                 */
            }

        },
        mounted : function(){
            this.listForm();
            this.listGradeType();
            this.listSubjectType();

            layui.use('form', function () {
                var form = layui.form;

                form.on("select(gradeTypeSelect)", function(data){
                    subjectVue.pageParam.filter.gradeType = data.value;
                    subjectVue.listForm();
                })


                form.on("select(subjectTypeSelect)", function (data) {
                    subjectVue.pageParam.filter.subjectType = data.value;
                    subjectVue.listForm();
                });

                form.render();

            })
        }


    })
</script>