<style>
    .boxItem {
        width: 100%;
        height: 100%;
    }
    .layui-form-select dl {
        max-height: 200px;
    }
</style>

<div style="width: 100%; height: 100%;" class="d-flex flex-row" id="step-2">
    <!-- left -->
    <div class="boxItem layui-form layui-anim layui-anim-fadein" style="padding-right: 1%; max-height:100%; overflow-y: auto; overflow-x: hidden; white-space: nowrap;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>选择场地</legend>
        </fieldset>
        <div class="layui-form-item" style="padding-left: 15px;padding-right: 15px;">
            <div class="layui-inline">
                <input type="checkbox" lay-filter="ourGrade" name="" title="使用本年级教室" checked>
            </div>
            <div class="layui-inline">
                <input type="checkbox" lay-filter="otherGrade" name="" title="租用其他年级教室">
            </div>
            <div class="layui-inline">
                <input type="checkbox" lay-filter="otherElse" name="" title="其他场地">
            </div>
        </div>

        <fieldset class="layui-elem-field layui-field-title layui-anim layui-anim-up" style="margin-top: 30px;" v-show="isShow.ourGradeRoom">
            <legend>配置考室</legend>
        </fieldset>
        <div v-show="isShow.ourGradeRoom" class="layui-form-item layui-anim layui-anim-up" style="padding-left: 15px;padding-right: 15px;">
            <div class="layui-inline" style="width: 45%; margin-top: 12px;">
                <div class="layui-input-inline">
                    <select id="roomSizeSelect" lay-filter="roomSizeSelect">
                        <option selected value="">班级容纳人数</option>
                        <option v-for="i in maxSize" :value="i">{{i}} 人</option>
                    </select>
                </div>
                <!--
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button">Check</button>
                    </div>
                    <select class="custom-select layui-form-select" id="roomSizeSelect" lay-filter="roomSizeSelect">
                        <option selected value="">班级容纳人数</option>
                        <option v-for="i in maxSize" :value="i">{{i}} 人</option>
                    </select>
                </div>
                -->
            </div>
            <div class="layui-inline" style="width: 40%;" id="roomSizePane"></div>
        </div>

        <fieldset v-show="isShow.otherGradeRoom" class="layui-elem-field layui-field-title layui-anim layui-anim-up" style="margin-top: 30px;">
            <legend>租借教室</legend>
        </fieldset>
        <div v-show="isShow.otherGradeRoom" class="layui-form-item layui-anim layui-anim-up" style="padding-left: 15px;padding-right: 15px;">
            <div class="layui-inline" style="width: 45%; margin-top: 12px;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button">Check</button>
                    </div>
                    <select class="custom-select layui-form-select" id="otherGradeSelect" lay-filter="otherGradeSelect">
                        <option selected value="">租用哪个年级的教室</option>
                        <option v-for="grade in gradeList" :value="grade.id">{{grade.gradeName}} -{{grade.gradeMasterName}}</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline" style="width: 40%;" id="otherGradeRoomMsgPane"></div>
        </div>
        <div v-show="isShow.otherGradeRoom" class="layui-form-item layui-anim layui-anim-up" style="padding-left: 15px;padding-right: 15px;">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">发送申请</button>
                </div>
                <textarea class="form-control" aria-label="With textarea" placeholder="向对方年级主任发送教室租用申请" v-model="rentRemark"></textarea>
            </div>
        </div>

        <fieldset v-show="isShow.otherElse" class="layui-elem-field layui-field-title layui-anim layui-anim-up" style="margin-top: 30px;">
            <legend>使用其他场地</legend>
        </fieldset>
        <div v-show="isShow.otherElse" class="layui-form-item layui-anim layui-anim-up" style="padding-left: 15px;padding-right: 15px;">
            <div class="layui-inline" style="width: 60%; margin-top: 12px;">
                <textarea class="form-control" aria-label="With textarea" placeholder="填写使用其他场地的说明" v-model="differentPlaceRemark"></textarea>
            </div>
            <div class="layui-inline" style="width: 35%;">
                <div style="width: 100%; height: 100%; padding-top: 50px;">
                    <label class="layui-form-label" style="padding-left: 0px; width: 140px;">配置虚拟考室编号</label>
                    <input type="checkbox" name="generateOtherElseNo" lay-skin="switch"
                           lay-filter="generateOtherElseNo" lay-text="开启|关闭" checked>
                </div>
            </div>
        </div>

    </div>

    <!-- right -->
    <div class="boxItem d-flex flex-column" style="background: rgba(255,248,220,0.9); padding: 1% 1% 1% 1%;">
        <div class="boxItem" style="background: rgba(64,224,208,0.9);">
            <div style="width: 100%; height: 70%;" class="d-flex flex-column">
                <div class="showWindow-item d-flex flex-row">
                    <div class="flex-fill text-center">
                        <p style="margin-top: 14px; padding: 0px;">xxx</p>
                    </div>
                    <div class="flex-fill text-center" style="vertical-align: center;">
                        <p style="margin-top: 14px; padding: 0px;">xxx</p>
                    </div>
                    <div class="flex-fill text-center">
                        <p style="margin-top: 14px; padding: 0px;">xxx</p>
                    </div>
                    <div class="flex-fill text-center">
                        <p style="margin-top: 14px; padding: 0px;">xxx</p>
                    </div>
                    <div class="flex-fill text-center">
                        <p style="margin-top: 14px; padding: 0px;">xxx</p>
                    </div>
                    <div class="flex-fill text-center">
                        <button type="button" class="btn btn-dark" style="margin-top: 8px;" @click="continueCreating(creatingExam.id, creatingExam.stepCount)">继续</button>
                    </div>
                </div>
            </div>
            <div class="d-flex bd-highlight" style="width: 100%; height: 30%; background: rgba(0,0,0,0.6)">
                <div class="p-2 flex-grow-1 bd-highlight d-flex flex-column">
                    <div class="d-flex align-items-center" style="width: 100%; flex: 1;">
                        <h1 class="display-1" style="color: whitesmoke; font-size: 40px;">创建中的考试</h1>
                    </div>
                    <div class="d-flex align-items-center" style="width: 100%; flex: 1;">
                        <input type="text" class="form-control" placeholder="可以搜索所有的考试历史" aria-label="exam-history">
                    </div>
                </div>
                <div class="p-2 bd-highlight d-flex align-items-center" style="width: 30%; padding-left: 9%; padding-right: 3%;">
                    <button type="button" class="btn btn-dark btn-lg" style="height: 90%; width: 100%; font-size: 32px;"><i class="bi bi-search" style="font-size: 40px;"></i>&nbsp;&nbsp;搜索</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var stepVue = new Vue({
        el : "#step-2",
        data : {
            isShow : {
                ourGradeRoom : true,
                otherGradeRoom : false,
                otherElse : false,
            },
            gradeList : null,
            maxSize : 60,
            rentGradeId : "",
            rentRemark : "",
            differentPlaceRemark : "",
            useVirtualRoomNo : true,
            gradeStudentCount : 120,
            roomCount : 0,

            clazzCount : -1,


        },
        methods : {
            saveData : function(){
                if (stepVue.rentGradeId==""){
                    //layer.msg("信息不能为空", {icon: 3});
                    //return false;
                }

                examRegistVue.submitDataFirst.examRegistRoom.useOurGradeRoom = stepVue.isShow.ourGradeRoom;
                examRegistVue.submitDataFirst.examRegistRoom.rentTag = stepVue.isShow.otherGradeRoom;
                examRegistVue.submitDataFirst.examRegistRoom.otherElse = stepVue.isShow.otherElse;
                examRegistVue.submitDataFirst.examRegistRoom.maxSize = stepVue.maxSize;
                examRegistVue.submitDataFirst.examRegistRoom.rentGradeId = stepVue.rentGradeId;
                examRegistVue.submitDataFirst.examRegistRoom.rentRemark = stepVue.rentRemark;
                examRegistVue.submitDataFirst.examRegistRoom.differentPlaceRemark = stepVue.differentPlaceRemark;
                examRegistVue.submitDataFirst.examRegistRoom.useVirtualRoomNo = stepVue.useVirtualRoomNo;
                if (stepVue.isShow.otherElse||stepVue.isShow.otherGradeRoom){
                    examRegistVue.submitDataFirst.examRegistRoom.differentPlaceTag = true;
                }

                return true;
            },
            calculateRoomCount : function () {
                this.roomCount = Math.ceil(this.gradeStudentCount/this.maxSize);
            },
            getStudentCount : function(){
                var gradeId = examRegistVue.submitDataFirst.gradeId;
                //debugger
                if (gradeId=="") return ;
                $.ajax({
                    url : "${ctxPath}/happy-study/gradeMan/query/studentCount/"+gradeId,
                    type : 'get',
                    async : false,
                    success : response=>{
                        var gradeStudentCount = response.extData[0];
                        this.gradeStudentCount = gradeStudentCount;
                        console.log(response.extData[0]+"人");
                        //debugger
                    }
                })
            },
            getClazzCount : function(){
                var gradeId = examRegistVue.submitDataFirst.gradeId;
                //debugger
                if (gradeId=="") return ;
                $.ajax({
                    url : "${ctxPath}/happy-study/clazzMan/list/"+gradeId,
                    type : 'get',
                    async : false,
                    success : response=>{
                        var clazzList = response.resData
                        this.clazzCount = clazzList.length;
                        //debugger
                    }
                })
            },
            getGradeList : function () {
                $.ajax({
                    url : "${ctxPath}/happy-study/studentMan/editdata/baseinfo/add",
                    type : 'get',
                    async : false,
                    success : response=>{
                        var resData = response.resData
                        this.gradeList = resData[0].gradeList;
                        //debugger
                        this.gradeList.remove(examRegistVue.submitDataFirst.gradeId);
                        console.log(this.gradeList);
                    }
                })
            },
        },
        mounted : function () {
            this.getGradeList();
            this.getStudentCount();
            this.getClazzCount();
        }
    })

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        form.on('checkbox(ourGrade)', function (data) {
            stepVue.isShow.ourGradeRoom = stepVue.isShow.ourGradeRoom ? false : true;
            form.render();
        })
        form.on('checkbox(otherGrade)', function (data) {
            stepVue.isShow.otherGradeRoom = stepVue.isShow.otherGradeRoom ? false : true;
            form.render();
        })
        form.on('checkbox(otherElse)', function (data) {
            stepVue.isShow.otherElse = stepVue.isShow.otherElse ? false : true;
            form.render();
        })
        form.on('switch(generateOtherElseNo)', function (data) {
            stepVue.useVirtualRoomNo = stepVue.useVirtualRoomNo ? false : true;
        })
        form.on('select(roomSizeSelect)', function (data) {
            stepVue.maxSize = data.value;
            stepVue.calculateRoomCount();
            var studentCount = stepVue.gradeStudentCount;
            var roomCount = stepVue.roomCount;
            var remindTag = stepVue.roomCount <= stepVue.clazzCount ?
                '<i class="bi bi-check" style="font-size: 22px; color: #00c0ef;">教室足够</i></div>' :
                '<i class="bi bi-exclamation-square" style="font-size: 22px; color: #e38d13;"> 教室不够</i>'

            debugger
            $("#roomSizePane").empty();
            $("#roomSizePane").html(
                '<div class="layui-anim layui-anim-scale" data-anim="layui-anim-scale">' +
                '该年级共 '+studentCount+' 人 => 需要 '+roomCount+'间 考室' + '&nbsp;' +
                remindTag +
                '</div>'
            )
        })
        form.on('select(otherGradeSelect)', function(data){
            stepVue.rentGradeId = data.value;
        })

        form.render();
    })
</script>